* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

.navbar {
  background-color: #666;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 10vh;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  grid-column: 3;
}

.navbar ul li {
  padding: 0 0.5rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #222;
}

main {
  display: grid;
  grid-template-areas:
    "sidebar section sidebar sidebar"
    ".       .       .       ."
    ".       .       .       .";
  min-height: 80vh;
}

article {
  grid-area: article;
}

aside {
  grid-area: sidebar;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #666;
  height: 10vh;
}

/* Test */

#page {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "c c c c c"
    "e . f . g";
  grid-template-columns: 210px auto minmax(60px, 600px) auto 200px;
  grid-template-rows: 60px minmax(300px, auto);
}

#page > header {
  grid-area: c;
  background-color: #8ca0ff;
}

#page > nav {
  grid-area: e;
  background-color: #ffa08c;
}

#page > main {
  grid-area: f;
  background-color: #ffff64;
}

#page > footer {
  grid-area: g;
  background-color: #8cffa0;
}
