* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

nav {
  background-color: #666;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 10vh;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  grid-column: 3;
}

nav ul li {
  padding: 0 0.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #222;
}

main {
  min-height: 80vh;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "c c c"
    "e f g";
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #666;
  height: 10vh;
}

main > div:nth-child(1) {
  grid-area: c;
  background-color: #8ca0ff;
}

main > div:nth-child(2) {
  grid-area: e;
  background-color: #ffa08c;
}

main > div:nth-child(3) {
  grid-area: f;
  background-color: #ffff64;
}

main > div:nth-child(4) {
  grid-area: g;
  background-color: #8cffa0;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  main {
    grid-template-areas:
      "c e"
      "f g";
  }
}

@media screen and (max-width: 600px) {
  main {
    grid-template-areas:
      "c"
      "e"
      "f"
      "g";
  }
}
